user = "twpayne"
editor = "code"
forge = "github.com"
sourceDir = "{{ .chezmoi.homeDir }}/src"
{{- if .flarm }}
[alias.FLARM]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/FLARM"
[alias.flarm-mate]
    repoDir = "{{ .chezmoi.homeDir }}/src/products/flarm-mate"
[alias.go]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/go"
[alias.python]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/python"
[alias.skylens]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/skylens"
{{- end }}
