user = "twpayne"
editor = "code"
forge = "github.com"
sourceDir = "{{ .chezmoi.homeDir }}/src"
{{- if .flarm }}
[alias.FLARM]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/FLARM"
[alias.flarm-mate]
    repoDir = "{{ .chezmoi.homeDir }}/src/products/flarm-mate"
[alias.go]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/go"
[alias.python]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/python"
[alias.skylens]
    repoDir = "{{ .chezmoi.homeDir }}/src/src/skylens"
{{- end }}
{{- if ne .chezmoi.hostname "fedora" }}
[remote.fedora]
    hostname = "fedora"
    sourceDir = "/home/twp/src"
{{- end }}
{{- if ne .chezmoi.hostname "legion" }}
[remote.legion]
    hostname = "legion"
    sourceDir = "/home/twp/src"
{{- end }}
{{- if ne .chezmoi.hostname "ubuntu" }}
[remote.ubuntu]
    hostname = "ubuntu"
    sourceDir = "/home/twp/src"
{{- end }}
