user = "twpayne"
editor = "code"
forge = "github.com"
sourceDir = "/home/twp/src"
{{- if .flarm }}
[alias.FLARM]
    repoDir = "/home/twp/src/src/FLARM"
[alias.flarm-mate]
    repoDir = "/home/twp/src/products/flarm-mate"
[alias.go]
    repoDir = "/home/twp/src/src/go"
[alias.python]
    repoDir = "/home/twp/src/src/python"
[alias.skylens]
    repoDir = "/home/twp/src/src/skylens"
{{- end }}
