{{- $headless := false -}}
{{- $transient := false -}}
{{- $isovalent := false -}}
{{- $kubernetes := false -}}
{{- $personal := false -}}

{{- if (or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC")) -}}
{{- $headless = true -}}
{{- $transient = true -}}
{{- end -}}

{{- if (not .transient) -}}
{{- if (eq .chezmoi.hostname "raspberrypi4") -}}
{{- $headless = true -}}
{{- $personal = true -}}
{{- else if (eq .chezmoi.hostname "revo") -}}
{{- $headless = true -}}
{{- $personal = true -}}
{{- else if (eq .chezmoi.hostname "thinkpad") -}}
{{- $isovalent = true -}}
{{- $kubernetes = true -}}
{{- $personal = true -}}
{{- else if (eq .chezmoi.hostname "toms-mbp") -}}
{{- $personal = true -}}
{{- else if (eq .chezmoi.hostname "toms-mbp-16") -}}
{{- $isovalent = true -}}
{{- $kubernetes = true -}}
{{- else -}}
{{- $headless = (eq (promptString "headless (yn)") "y") -}}
{{- $transient = (eq (promptString "transient (yn)") "y") -}}
{{- $kubernetes = (eq (promptString "kubernetes (yn)") "y") -}}
{{- end -}}
{{- end -}}

[data]
  headless = {{ $headless }}
  transient = {{ $transient }}
  isovalent = {{ $isovalent }}
  kubernetes = {{ $kubernetes }}
  personal = {{ $personal }}
