{{ if env "CODESPACES" -}}
[data]
  codespaces = true
  email = "twpayne@gmail.com"
  name = "Tom Payne"
{{ else -}}
{{- $email := promptString "email" -}}
[data]
  codespaces = false
  email = "{{ template "email" }}"
  name = "Tom Payne"
  sshKey = "{{ template "email" }} SSH key"
{{ end -}}
