{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $isovalent := false -}}{{/* true if this machine should have Isovalent secrets from 1Password */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- "" -}}

{{/* detect GitHub codespaces and VSCode remote containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $serialNumberSHA256Sum := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" | sha256sum -}}
{{-   if eq $serialNumberSHA256Sum "0b4854803d23940ca945d6e7a600e13b4fdf7b72e50e93165877ddc95615011f" -}}
{{-     $hostname = "toms-mba" -}}
{{-   else if eq $serialNumberSHA256Sum "2728f5c7d4781c6824d9cf69a001d000530d1315c8b9ca3eca966c4431ff616c" -}}
{{-     $hostname = "toms-mbp" -}}
{{-   else if eq $serialNumberSHA256Sum "4aad1de0b04870891b321da4fcc8327f6644e1f8353e1105d2b33f908b5d1387" -}}
{{-     $hostname = "toms-mbp-16" -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "focal" "runtime1" -}}
{{-     $headless = true -}}
{{-     $isovalent = true -}}
{{-     $kubernetes = true -}}
{{-   else if eq $hostname "raspberrypi4" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "elitedesk" "revo" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "thinkpad" -}}
{{-     $personal = true -}}
{{-     $isovalent = true -}}
{{-   else if eq $hostname "toms-mba" "toms-mbp" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "toms-mbp-16" -}}
{{-     $isovalent = true -}}
{{-     $kubernetes = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBool "headless" -}}
{{-     $ephemeral = promptBool "ephemeral" -}}
{{-     $kubernetes = promptBool "kubernetes" -}}
{{-   else -}}
{{-     $headless = true -}}
{{-     $ephemeral = true -}}
{{-     $kubernetes = false -}}
{{-   end -}}
{{- end -}}

[data]
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  ephemeral = {{ $ephemeral }}
  isovalent = {{ $isovalent }}
  kubernetes = {{ $kubernetes }}
  personal = {{ $personal }}
{{- if $isovalent }}
  vault = "hlnmluqkhsy4qcululpgt6uzvu"
{{- end }}
