# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block, everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
export PATH=$HOME/bin:$PATH
[ -d /snap/bin ] && export PATH=/snap/bin:$PATH
[ -d $HOME/.cargo/bin ] && export PATH=$HOME/.cargo/bin:$PATH
[ -d $HOME/.local/bin ] && export PATH=$HOME/.local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

ZSH_DISABLE_COMPFIX=true

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  gpg-agent
  per-directory-history
  vi-mode
  zsh-syntax-highlighting
)

zstyle :omz:plugins:ssh-agent agent-forwarding on

source $ZSH/oh-my-zsh.sh

# User configuration

PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt histignorespace
setopt rm_star_silent

alias g=git
alias gnp="git --no-pager"
alias k=kubectl

export EDITOR=vim
export GOPATH=$HOME
export GO111MODULE=on
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export RIPGREP_CONFIG_PATH=~/.ripgreprc

{{ if (eq .chezmoi.hostname "Toms-Isovalent-MacBook-Pro" "thinkpad") -}}
export AWS_ACCESS_KEY_ID={{ (onepasswordDetailsFields "AWS Access Key").username.value }}
export AWS_SECRET_ACCESS_KEY={{ (onepasswordDetailsFields "AWS Access Key").password.value }}
export AWS_DEFAULT_REGION=eu-west-1
{{ end -}}

{{ if (eq .chezmoi.hostname "Toms-Isovalent-MacBook-Pro") -}}
export VM_CPUS=6
export VM_MEMORY=32768
{{ else if (eq .chezmoi.hostname "thinkpad") -}}
export VM_CPUS=4
export VM_MEMORY=8192
{{ end -}}

{{ if (eq .email "twpayne@gmail.com") -}}
export DARKSKY_KEY="{{ (index (lastpass "Dark Sky Key") 0).password }}"
{{ end -}}

{{ if (eq .chezmoi.hostname "Toms-MacBook-Pro") -}}
export HOMEBREW_GITHUB_API_TOKEN={{ (index (lastpass "Github Homebrew Access Token") 0).password }}
{{ end -}}

{{ if (ne .email "tom@isovalent.com") -}}
[ -x /usr/libexec/java_home ] && export JAVA_HOME=$(/usr/libexec/java_home)
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
# gcloud
[ -f /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc ] && source /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc
[ -f /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc ] && source /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc

{{ end -}}
# zsh-completions
fpath=(/usr/local/share/zsh-completions $fpath)

# direnv
which direnv >/dev/null && eval "$(direnv hook zsh)"

github-clone-and-cd() {
	dir=~/src/github.com/$1
	if [ -d $dir ] ; then
		cd $dir
	else
		mkdir -p ~/src/github.com/$(dirname $1) && \
			git clone https://github.com/$1.git $dir && \
			cd $dir
	fi
}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
