{{ if (eq .chezmoi.os "darwin" "linux") -}}
#!/bin/bash

set -eufo pipefail

version="v1.14.3"
destdir="${HOME}/.oh-my-zsh/custom/themes/powerlevel10k"

rm -rf ${destdir}
mkdir -p ${destdir}
curl -s -L https://github.com/romkatv/powerlevel10k/archive/${version}.tar.gz | tar -C ${destdir} --strip-components=1 -xzf -
{{ end -}}
