{{- if (eq .chezmoi.os "linux") -}}
#!/bin/sh

set -evo pipefail

{{ if .container }}
sudo apt install -y \
	ripgrep \
	vim
{{ else }}
sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo apt update
sudo apt install -y \
	curl \
	direnv \
	git-lfs \
	golang-go \
	jq \
	ripgrep \
	units \
	vim \
	vim-gtk \
	zsh
{{ end }}
{{- else if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

set -evo pipefail

brew install \
	dockutil \
	git-lfs \
	go \
	gnu-units \
	gnupg \
	jq \
	kubernetes-cli \
	minikube \
	ripgrep \
	xz \
	youtube-dl

brew cask install \
{{- if (eq .email "tom@isovalent.com") }}
	1password \
	1password-cli \
{{- end }}
	docker \
	google-chrome \
	google-cloud-sdk \
	hammerspoon \
	iterm2 \
	karabiner-elements \
	macvim
{{- end -}}
