{{ if (eq .chezmoi.os "linux") -}}
#!/bin/sh

{{ if .container }}
sudo apt install -y \
	ripgrep \
	vim
{{ else }}
sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo apt update
sudo apt install -y \
	curl \
	direnv \
	git-lfs \
	golang-go \
	jq \
	ripgrep \
	units \
	vim \
	vim-gtk \
	zsh
{{ end }}
{{ end }}
