{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	curl
	docker
	dockutil
	git-lfs
	gnu-units
	gnupg
	go
	google-chrome
	google-cloud-sdk
	grdl/tap/git-get
	hammerspoon
	hugo
	iterm2
	jq
	karabiner-elements
	macvim
	pkg-config
	ripgrep
	tmux
	visual-studio-code
	xz
	youtube-dl
)

{{ if .personal }}
formulae+=(
	bitwarden-cli
	pspg
)
{{ end }}

{{ if .isovalent }}
formulae+=(
	1password-cli
	azure-cli
	eksctl
	helm
	kubernetes-cli
	minikube
	packer
	vagrant
	virtualbox
	zoom
)
{{ end }}

brew install ${formulae[@]}
{{ end }}
