#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew cask install visual-studio-code
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
defaults delete -g ApplePressAndHoldEnabled || true
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
sudo snap install code --classic
sudo sh -c "echo fs.inotify.max_user_watches=524288 >> /etc/sysctl.conf"
sudo sysctl -p
{{ end -}}
