{{ if (and (eq .chezmoi.os "linux") .isovalent) -}}
#!/bin/bash

set -euo pipefail

OP_VERSION=1.8.0

tempdir=$(mktemp -d)
cleanup() {
	rm -rf $tempdir
}
trap cleanup EXIT

cd ${tempdir}
curl -LOL https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/op_linux_amd64_v${OP_VERSION}.zip
unzip op_linux_amd64_v${OP_VERSION}.zip op
mv op ${HOME}/bin
{{ end -}}
