{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

repositories=()
packages=(
	curl
	vim
)
snaps=()
classic_snaps=()

{{ if (eq .chezmoi.osRelease.versionCodename "bionic") }}
classic_snaps+=(
	ripgrep
)
{{ else }}
packages+=(
	ripgrep
)
{{ end }}

{{ if (not .transient) }}
{{ if (eq .chezmoi.osRelease.ubuntuCodename "groovy") }}
class_snaps+=(
	go
)
{{ else }}
repositories+=(
	ppa:longsleep/golang-backports
)
packages+=(
	golang-go
)
{{ end }}
packages+=(
	direnv
	git-lfs
	jq
	units
	vim-gtk
	zsh
)
classic_snaps+=(
	code
)
{{ end }}

{{ if .personal }}
snaps+=(
	hugo
)
classic_snaps+=(
	goreleaser
)
{{ end }}

for repository in ${repositories[@]}; do
	sudo add-apt-repository -y $repository
done

sudo apt update

sudo apt install -y ${packages[@]}

for snap in ${snaps[@]}; do
	sudo snap install $snap
done

for classic_snap in ${classic_snaps[@]}; do
	sudo snap install $classic_snap --classic
done

{{ end }}
