{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	alacritty
	curl
	dockutil
	git-lfs
	gnu-units
	gnupg
	go
	grdl/tap/git-get
	hugo
	jq
	pkg-config
	ripgrep
	tmux
	xz
	youtube-dl
)
casks=(
	docker
	google-chrome
	google-cloud-sdk
	hammerspoon
	karabiner-elements
	macvim
	visual-studio-code
)

{{ if .personal }}
formaule+=(
	bitwarden-cli
	pspg
)
{{ end }}

{{ if .isovalent }}
formulae+=(
	azure-cli
	eksctl
	helm
	kubernetes-cli
	minikube
	packer
)
casks+=(
	1password-cli
)
{{ end }}

brew install ${formulae[@]}
brew cask install ${casks[@]}
{{ end }}
