{{ define "install-powerlevel10k" -}}
#!/bin/bash

set -eufo pipefail

version="v1.15.0"
destdir="${HOME}/.oh-my-zsh/custom/themes/powerlevel10k"

rm -rf ${destdir}
mkdir -p ${destdir}
curl -s -L https://github.com/romkatv/powerlevel10k/archive/${version}.tar.gz | tar -C ${destdir} --strip-components=1 -xzf -

{{ end -}}
{{ if (eq .chezmoi.os "darwin") -}}
{{   template "install-powerlevel10k" . -}}
(
	cd $HOME/Library/Fonts &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf > "MesloLGS NF Regular.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf > "MesloLGS NF Bold.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf > "MesloLGS NF Italic.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf > "MesloLGS NF Bold Italic.ttf"
)
{{ else if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
{{     template "install-powerlevel10k" . -}}
{{   end -}}
{{ end -}}
