{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	curl
	docker
	dockutil
	git-lfs
	gnu-units
	gnupg
	go
	google-chrome
	google-cloud-sdk
	grdl/tap/git-get
	hammerspoon
	hugo
	iterm2
	jq
	karabiner-elements
	macvim
	pkg-config
	ripgrep
	tmux
	visual-studio-code
	xz
	youtube-dl
)

{{ if .personal }}
formulae+=(
	bitwarden-cli
	pspg
)
{{ end }}

{{ if .isovalent }}
formulae+=(
	1password-cli
	aws-iam-authenticator
	awscli
	azure-cli
	eksctl
	helm
	kops
	kubernetes-cli
	minikube
	packer
	vagrant
	virtualbox
	zoom
)
{{ end }}

for formula in ${formulae[@]}; do
	if brew ls --versions "${formula}" >/dev/null; then
		HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade "${formula}"
	else
		HOMEBREW_NO_AUTO_UPDATE=1 brew install "${formula}"
	fi
done
{{ end }}
