{{ if (and (eq .chezmoi.os "linux") .isovalent) -}}
#!/bin/bash

set -euo pipefail

OP_VERSION=1.8.0
ARCH={{ .chezmoi.arch }}
FILENAME=op_linux_${ARCH}_v${OP_VERSION}.zip

tempdir=$(mktemp -d)
cleanup() {
	rm -rf $tempdir
}
trap cleanup EXIT

cd ${tempdir}
curl -LOL https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/${FILENAME}
unzip ${FILENAME} op
mv op ${HOME}/bin
{{ end -}}
