{{ if (and (eq .chezmoi.os "linux") (not .transient) (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

fc-cache

gsettings set org.gnome.Terminal.Legacy.Settings default-show-menubar false
profile=$(gsettings get org.gnome.Terminal.ProfilesList default)
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles/${profile}/ font "MesloLGS NF"

gsettings set org.gnome.shell favorite-apps "[ \
	'google-chrome.desktop', \
	'code_code.desktop', \
	'org.gnome.Terminal.desktop', \
	'org.gnome.Nautilus.desktop' \
]"

gsettings set org.gnome.shell.extensions.dash-to-dock autohide true
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
gsettings set org.gnome.shell.extensions.dash-to-dock dock-position RIGHT
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide true
{{ end -}}
