{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $isovalent := false -}}{{/* true if this machine should have Isovalent secrets from 1Password */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Tom’s MacBook Air" -}}
{{-     $hostname = "toms-mba" -}}
{{-   else if eq $computerName "Tom’s MacBook Pro 16" -}}
{{-     $hostname = "toms-mbp-16" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "raspberrypi4" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "elitedesk" -}}
{{-     $docker = true -}}
{{-     $headless = true -}}
{{-     $isovalent = true -}}
{{-     $kubernetes = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "thinkpad" -}}
{{-     $docker = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "toms-mba" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "toms-mbp-16" -}}
{{-     $isovalent = true -}}
{{-     $kubernetes = true -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBool "headless" -}}
{{-     end -}}
{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBool "ephemeral" -}}
{{-     end -}}
{{-     if not $ephemeral -}}
{{-       if hasKey . "docker" -}}
{{-         $docker = .docker -}}
{{-       else -}}
{{-         $docker = promptBool "docker" -}}
{{-       end -}}
{{-       if hasKey . "kubernetes" -}}
{{-         $kubernetes = .kubernetes -}}
{{-       else -}}
{{-         $kubernetes = promptBool "kubernetes" -}}
{{-       end -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

[data]
    docker = {{ $docker }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    isovalent = {{ $isovalent }}
    kubernetes = {{ $kubernetes }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
{{- if $isovalent }}
    vault = "hlnmluqkhsy4qcululpgt6uzvu"
{{- end }}
[diff]
    exclude = ["externals"]
{{- if eq $hostname "elitedesk" }}
[onepassword]
    command = "op2"
{{- end }}
