[".config/nvim/pack/twpayne/start/vim-igc"]
    type = "git-repo"
    url = "http://github.com/twpayne/vim-igc.git/"
    refreshPeriod = "168h"
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.18.0.tar.gz"
    exact = true
    stripComponents = 1
{{ if eq .osid "linux-ubuntu" }}
[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
    refreshPeriod = "672h"
    executable = true
{{- $ezaVersion := "0.11.0" }}
[".local/bin/eza"]
    type = "file"
    url = "https://github.com/eza-community/eza/releases/download/v{{ $ezaVersion }}/x86_64-unknown-linux-gnu-eza"
    executable = true
{{- $gduVersion := "5.25.0" }}
[".local/bin/gdu"]
    type = "archive-file"
    url = "https://github.com/dundee/gdu/releases/download/v{{ $gduVersion }}/gdu_linux_amd64.tgz"
    executable = true
    path = "gdu_linux_amd64"
{{ end }}
{{- if and (eq .chezmoi.os "linux") .personal (not .ephemeral) }}
{{- $ageVersion := "1.1.1" }}
[".local/bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    executable = true
    path = "age/age"
[".local/bin/age-keygen"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    executable = true
    path = "age/age-keygen"
{{- end }}
{{- if and (not .ephemeral) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}
