ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzB4umkFIrh4/pN/AdwGrFD+GcgHkrfGPQhX8kj5JVBkE4dBjXet2EYpiz5IKYXd5wJ8h5GxVtpTY7DoREBLz5Lq+d9bUMRikGXUtGu5rdXaz4vRoBuc7KIo78WiLkkeDg83qPAbaPAJkOnw8j5WQqSlxkd6fZxCwX8YE4g73AlnFNI13nNLRRBXSE299AzFdrblzWD1fA8PuCc1v+FhwXo2jDJ6wR48rK3ydmr+b50sANONSCkekuyyqIPZSveqtdu+PyhXbxxDeSMFj93HpIGRhlKJW5cPa4jxfXcrv5Q66MCfH/Sij2Hw8pNJg7IclsayTuJZJhHxG0YiI9Zzul twpayne@gmail.com
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDab3uJ1TgKxR/vphx7pODX49jKbNrukv+j+lmYcoqF1q6pX2QATQ8hodclykIcchWFgYlRHO/RIhw8JV8xFZoqJzd1HLoBnfY5A3NY3sC9CrUC0c9fZuAJLEp+QYjmHg3J02BI20/vXFjvuCLIeUD9avjcsd8/RC6K4oBO61xAK5Vn6QdChMLuPzD4w0ERM/QsB51DlHrUsFid7t56qZFiWdkdMIDPQ1A2dKGAaW1CYBjRY7n+jYAGnEKceDjtqDp0ablGiT0cEZuNnx1FktAlN5CmvkMrosSbolj4okXGZJLhWiazAfKcimwXYU3o6A40GEn7IjwOLDXOxpgDz22EEv938UVVu+RejHrc9b2OQ21FN0mWuUJbxImpOgN1C8fjPcrFq1+wYRSB8Mgf4kIbHklmZQnQKjI2mTUbA1A0NP9RzHrpxuBonbFaDz7anGEh7RjGOPRju9kNMqy9Waj05t2Yg7XileoC/PgZBan5WH2KOv67JDQ/1tQrH3KS9CU= tom@isovalent.com
{{ if eq .hostname "revo" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ/xdZT+m+UFNvYJiIlrLhZIuy5rJJojEhpXbc79tLBo JuiceSSH
{{ end -}}
