HashKnownHosts no

{{- if (eq .chezmoi.os "darwin") }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git

Host macbookpro
  HostName 192.168.1.2
  ForwardAgent yes
  User twp

Host revo
  HostName 192.168.1.3
  ForwardAgent yes
  User twp

Host raspberrypi3
  HostName 192.168.1.4
  User pi

Host thinkpad
  HostName 192.168.1.5
  ForwardAgent yes
  User twp

Host raspberrypi4
  HostName 192.168.1.6
  User pi

Host isovalent
  HostName 192.168.1.7
  ForwardAgent yes
  User tompayne

Host reMarkable
  HostName 192.168.1.8
  User root

Host twpayne.asuscomm.com
  HostName 212.51.139.253
  ForwardAgent yes
  User twp

{{- if (eq .hostname "toms-mbp") }}

Host groovy
  HostName 127.0.0.1
  User twp
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL
  ForwardAgent yes
{{- end }}

{{- if (eq .hostname "toms-mbp-16") }}

Host focal
  HostName 127.0.0.1
  User twp
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL
  ForwardAgent yes
{{- end }}
