HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git

Host revo
  HostName 192.168.1.3
  ForwardAgent yes
  User twp

Host raspberrypi3
  HostName 192.168.1.4
  User pi

Host thinkpad
  HostName 192.168.1.5
  ForwardAgent yes
  User twp

Host thinkpad-wan
  HostName 212.51.139.253
  Port 2222
  ForwardAgent yes
  User twp

Host raspberrypi4
  HostName 192.168.1.6
  User pi

Host reMarkable
  HostName 192.168.1.8
  User root

Host twpayne.asuscomm.com
  HostName 212.51.139.253
  ForwardAgent yes
  User twp

{{- if eq .hostname "toms-mbp-16" }}

Host focal
  HostName 127.0.0.1
  User twp
  Port 4444
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL
  ForwardAgent yes

Host runtime1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/twp/src/github.com/cilium/cilium/.vagrant/machines/runtime1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL
{{- end }}

{{- if .isovalent }}

{{    onepasswordDocument "tom@isovalent.com SSH config" .vault -}}
{{- end }}
