HashKnownHosts no

{{ if eq .chezmoi.os "darwin" -}}
Host *
UseKeychain yes

{{ end -}}
Host github.com
User git

Host raspberrypi
HostName 192.168.1.4
User pi

Host revo
HostName 192.168.1.3
ForwardAgent yes

Host twpayne.asuscomm.com
ForwardAgent yes
