{{- if (eq .email "tom@isovalent.com") -}}
{{- onepasswordDocument "tom@isovalent.com SSH public key" "hlnmluqkhsy4qcululpgt6uzvu" -}}
{{- else -}}
{{- (index (lastpass "twpayne@gmail.com SSH key") 0).note.publicKey -}}
{{- end -}}
