{{- if .personal -}}
{{-   (index (lastpass "twpayne@gmail.com SSH key") 0).note.publicKey -}}
{{- else if .isovalent -}}
{{-   onepasswordDocument "tom@isovalent.com SSH public key" .vault -}}
{{- end -}}
