{{- if (eq .email "tom@isovalent.com") -}}
{{- onepasswordDocument "tom@isovalent.com SSH public key" "hlnmluqkhsy4qcululpgt6uzvu" -}}
{{- else if (index . "sshkey") -}}
{{- (index (lastpass .sshkey) 0).note.publicKey -}}
{{- end -}}
