{{- if .personal -}}
{{-   (index (lastpass "twpayne@gmail.com SSH key") 0).note.privateKey -}}
{{- else if .isovalent -}}
{{-   onepasswordDocument "tom@isovalent.com SSH private key" .vault -}}
{{- end -}}
