{{- if (eq .email "tom@isovalent.com") -}}
{{- onepasswordDocument "tom@isovalent.com SSH private key" -}}
{{- else if (index . "sshkey") -}}
{{- (index (lastpass .sshkey) 0).note.privateKey -}}
{{- end -}}
