{{ if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
#!/bin/bash

set -euo pipefail

GH_VERSION=2.4.0
ARCH={{ .chezmoi.arch }}
BASENAME=gh_${GH_VERSION}_linux_${ARCH}

mkdir -p "${HOME}/bin"
curl -fsSL https://github.com/cli/cli/releases/download/v${GH_VERSION}/${BASENAME}.tar.gz | tar xz -C "${HOME}/bin" --strip-components=2 ${BASENAME}/bin/gh
{{   end -}}
{{ end -}}
