HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

{{- if .flarm }}

Host eddie
  HostName 10.42.1.30
  IdentityFile ~/.ssh/id_flarm_root
  User root

Host marvin
  HostName 10.42.1.31
  IdentityFile ~/.ssh/id_flarm_root
  User root

Host osm.flarm.com
  IdentityFile ~/.ssh/id_flarm_root
  User root
{{- end }}

Host github.com
  User git

Host legion
  ForwardAgent yes
  User twp
