HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git

Host raspberrypi3
  HostName 192.168.1.4
  User pi

Host raspberrypi3-wg
  HostName 100.115.75.85
  User pi

Host thinkpad
  HostName 192.168.1.5
  ForwardAgent yes
  User twp

Host raspberrypi4
  HostName 192.168.1.6
  User pi

Host raspberrypi4-wg
  HostName 100.72.31.12
  User pi

Host elitedesk
  HostName 192.168.1.7
  ForwardAgent yes
  User twp

Host elitedesk-wan
  HostName 212.51.139.26
  ForwardAgent yes
  User twp

Host elitedesk-wg
  HostName 100.79.41.28
  ForwardAgent yes
  User twp

Host reMarkable
  HostName 192.168.1.8
  User root

Host twpayne.asuscomm.com
  HostName 212.51.139.26
  ForwardAgent yes
  User twp

{{- if .isovalent }}

{{    onepasswordDocument "tom@isovalent.com SSH config" .vault -}}
{{- end }}
