{{ if .flarm -}}
{{   onepasswordRead "op://FLARM/SSH Key/public key" .onepasswordAccount }}
{{ else if .personal -}}
{{   onepasswordRead "op://Personal/SSH Key/public key" .onepasswordAccount }}
{{ end -}}
