{{- if .flarm -}}
{{-   onepasswordRead "op://FLARM/SSH Key/private key" .onepasswordAccount -}}
{{- else if .personal -}}
{{-   onepasswordRead "op://Personal/SSH Key/private key" .onepasswordAccount -}}
{{- end -}}
