{{ if (and (eq .osid "linux-debian" "linux-ubuntu") .isovalent) -}}
#!/bin/bash

set -euo pipefail

OP_VERSION=1.12.4
ARCH={{ .chezmoi.arch }}
FILENAME=op_linux_${ARCH}_v${OP_VERSION}.zip

tempdir=$(mktemp -d)
cleanup() {
	rm -rf ${tempdir}
}
trap cleanup EXIT

cd ${tempdir}
curl -LO https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/${FILENAME}
unzip ${FILENAME} op
mv op ${HOME}/.local/bin
{{ end -}}
