{{ if and (eq .osid "linux-ubuntu") .docker -}}

#!/bin/sh

# https://docs.docker.com/engine/install/ubuntu/

sudo apt-get install \
    ca-certificates \
    curl \
    gnupg \
    lsb-release

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --batch --dearmor --yes -o /usr/share/keyrings/docker-archive-keyring.gpg

echo \
    "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

sudo apt-get update

sudo apt-get install -y \
    containerd.io \
    docker-ce \
    docker-ce-cli

sudo usermod $USER --append --group docker

{{ end -}}
