{{ if and (eq .osid "linux-ubuntu") (not .headless) -}}
#!/bin/bash

tmpdeb="$(mktemp)"
trap 'rm -f -- "${tmpdeb}"' EXIT
curl -L -o "${tmpdeb}" {{ gitHubLatestReleaseAssetURL "mkasberg/ghostty-ubuntu" (printf "ghostty_*_%s_%s.deb" .chezmoi.arch .chezmoi.osRelease.versionID) | quote }}
sudo dpkg -i "${tmpdeb}"

{{ end -}}
