{{ if false -}}
{{ if (and (eq .osid "linux-debian" "linux-ubuntu") .kubernetes) -}}
#!/bin/bash

set -efuo pipefail

# install aws-cliv2
# https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-linux.html
tmpdir=$(mktemp -d)
cleanup() {
	rm -rf ${tmpdir}
}
trap cleanup EXIT
( cd ${tmpdir} &&
	curl https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip -o awscliv2.zip &&
	unzip awscliv2.zip &&
	sudo ./aws/install{{ if lookPath "aws" }} --update{{ end }} )

# install eksctl
# https://eksctl.io/introduction/#installation
curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
sudo mv /tmp/eksctl /usr/local/bin
eksctl completion zsh | sudo tee /usr/local/share/zsh/site-functions/_eksctl > /dev/null

# install kops
# https://kops.sigs.k8s.io/getting_started/install/
curl -Lo ${HOME}/bin/kops https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4)/kops-linux-amd64
chmod +x ${HOME}/bin/kops

{{ end -}}
{{ end -}}
