{{ if and (eq .osid "linux-ubuntu") .isovalent -}}

#!/bin/bash

set -eufo pipefail

# https://helm.sh/docs/intro/install/

curl -s https://baltocdn.com/helm/signing.asc | sudo apt-key add -
sudo apt-get install apt-transport-https --yes
echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
sudo apt-get update
sudo apt-get install --yes helm

{{ end -}}