{{- if or .isovalent .personal -}}
{{-   $gitcookie := "" -}}
{{-   if .personal -}}
{{-     $gitcookie = (index (lastpass "googlesource.com gitcookie") 0).password -}}
{{-   else if .isovalent -}}
{{-     $gitcookie = (onepasswordDetailsFields "googlesource.com gitcookie").password.value -}}
{{-   end -}}
go.googlesource.com,FALSE,/,TRUE,2147483647,o,git-twpayne.gmail.com={{ $gitcookie }}
go-review.googlesource.com,FALSE,/,TRUE,2147483647,o,git-twpayne.gmail.com={{ $gitcookie }}
{{ end -}}
